<a href="https://colab.research.google.com/github/Satyammaravaniya/BD_Assignment/blob/main/BDP_A01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Task-A**

Develop Python code to perform block multiplication on two given matrices.

In [3]:
def block_matrix_multiply(A, B):
    n = len(A) // 2

    # Split matrices into blocks
    A11 = [row[:n] for row in A[:n]]
    A12 = [row[n:] for row in A[:n]]
    A21 = [row[:n] for row in A[n:]]
    A22 = [row[n:] for row in A[n:]]

    B11 = [row[:n] for row in B[:n]]
    B12 = [row[n:] for row in B[:n]]
    B21 = [row[:n] for row in B[n:]]
    B22 = [row[n:] for row in B[n:]]

    # Calculate block products
    C11 = matrix_add(matrix_multiply(A11, B11), matrix_multiply(A12, B21))
    C12 = matrix_add(matrix_multiply(A11, B12), matrix_multiply(A12, B22))
    C21 = matrix_add(matrix_multiply(A21, B11), matrix_multiply(A22, B21))
    C22 = matrix_add(matrix_multiply(A21, B12), matrix_multiply(A22, B22))

    # Combine block products into the result matrix
    result = []
    for i in range(n):
        result.append(C11[i] + C12[i])
    for i in range(n):
        result.append(C21[i] + C22[i])
    return result


def matrix_add(A, B):
    return [[a + b for a, b in zip(rowA, rowB)] for rowA, rowB in zip(A, B)]

def matrix_multiply(A, B):
    return [[sum(a * b for a, b in zip(rowA, colB)) for colB in zip(*B)] for rowA in A]

    result = block_matrix_multiply(A, B)
    for row in result:
      print(row)

# Main program
n = int(input("Please enter order of matrix "))
def main():
    a = [[0 for _ in range(n)] for _ in range(n)]
    b = [[0 for _ in range(n)] for _ in range(n)]

    print("\n\t Please enter the matrix\t:\t")
    print("\n***************Input****************\n")

    for i in range(n):
        for j in range(n):
            a[i][j] = float(input(f"\t a[{i}, {j}] = "))

    for i in range(n):
        for j in range(n):
            b[i][j] = float(input(f"\t b[{i}, {j}] = "))

    print("\n***************Output****************\n")
    C = block_matrix_multiply(a, b)

    print("\n***************Matrix A*B************\n")
    for i in range(n):
        print("\n", end="")
        for j in range(n):
            print(f"{C[i][j]} \t", end="")

if __name__ == "__main__":
    main()

Please enter order of matrix 4

	 Please enter the matrix	:

***************Input****************

	 a[0, 0] = 1
	 a[0, 1] = 2
	 a[0, 2] = 3
	 a[0, 3] = 4
	 a[1, 0] = 5
	 a[1, 1] = 6
	 a[1, 2] = 7
	 a[1, 3] = 8
	 a[2, 0] = 9
	 a[2, 1] = 10
	 a[2, 2] = 11
	 a[2, 3] = 12
	 a[3, 0] = 13
	 a[3, 1] = 14
	 a[3, 2] = 15
	 a[3, 3] = 16
	 b[0, 0] = 16
	 b[0, 1] = 15
	 b[0, 2] = 14
	 b[0, 3] = 13
	 b[1, 0] = 12
	 b[1, 1] = 11
	 b[1, 2] = 10
	 b[1, 3] = 9
	 b[2, 0] = 8
	 b[2, 1] = 7
	 b[2, 2] = 6
	 b[2, 3] = 5
	 b[3, 0] = 4
	 b[3, 1] = 3
	 b[3, 2] = 2
	 b[3, 3] = 1

***************Output****************


***************Matrix A*B************


80.0 	70.0 	60.0 	50.0
240.0 	214.0 	188.0 	162.0
400.0 	358.0 	316.0 	274.0
560.0 	502.0 	444.0 	386.0

**Task-B**

This segment of the assignment is designed to enhance your understanding of the API
call process and dataset creation. Utilize any freely available API endpoint on Rapidapi to
generate a dataset.

In [1]:
import requests
import pandas as pd

userData = []
for x in range(500):
    response = requests.get("https://randomuser.me/api")
    data = response.json()['results']
    userData.extend(data)

df = pd.DataFrame(userData)
df

,gender,name,location,email,login,dob,registered,phone,cell,id,picture,nat
0,female,"{'title': 'Ms', 'first': 'Ana', 'last': 'Navar...","{'street': {'number': 5323, 'name': 'Continuac...",ana.navarrete@example.com,{'uuid': '19e18741-2988-4134-a222-149faf4227ca...,"{'date': '1978-05-31T15:09:07.421Z', 'age': 45}","{'date': '2021-02-25T04:15:38.670Z', 'age': 2}",(692) 114 7640,(673) 002 6658,"{'name': 'NSS', 'value': '45 04 83 1022 3'}",{'large': 'https://randomuser.me/api/portraits...,MX
1,female,"{'title': 'Miss', 'first': 'Sylvie', 'last': '...","{'street': {'number': 5449, 'name': 'Wiesenweg...",sylvie.gerner@example.com,{'uuid': 'e3188f1b-e290-437c-ae7b-7ef5ac4aeda8...,"{'date': '1999-01-02T04:56:09.746Z', 'age': 25}","{'date': '2009-01-14T08:49:29.695Z', 'age': 15}",0826-9865629,0179-3597206,"{'name': 'SVNR', 'value': '08 010199 G 942'}",{'large': 'https://randomuser.me/api/portraits...,DE
2,male,"{'title': 'Mr', 'first': 'Chestislav', 'last':...","{'street': {'number': 7781, 'name': 'Bulvar Sh...",chestislav.sirchenko@example.com,{'uuid': 'fcecf15a-7aaf-4af1-8c4c-a2f32f056742...,"{'date': '1953-07-26T10:09:03.444Z', 'age': 70}","{'date': '2021-08-03T15:30:52.050Z', 'age': 2}",(067) Z03-4421,(098) O61-9041,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,UA
3,male,"{'title': 'Mr', 'first': 'Yatin', 'last': 'She...","{'street': {'number': 1840, 'name': 'Lamington...",yatin.sheikh@example.com,{'uuid': 'fd926806-ef0e-4bc8-9e00-41f87fe242a1...,"{'date': '1949-03-27T02:52:54.638Z', 'age': 74}","{'date': '2021-06-18T02:04:47.076Z', 'age': 2}",8991216161,7132346370,"{'name': 'UIDAI', 'value': '378180774008'}",{'large': 'https://randomuser.me/api/portraits...,IN
4,female,"{'title': 'Ms', 'first': 'Isabel', 'last': 'Pe...","{'street': {'number': 7256, 'name': 'Periféric...",isabel.pedroza@example.com,{'uuid': '7bafbc55-fe11-499e-943a-3c7cac30403e...,"{'date': '1970-02-24T11:51:59.877Z', 'age': 53}","{'date': '2017-12-03T17:42:25.447Z', 'age': 6}",(682) 030 2930,(627) 886 7542,"{'name': 'NSS', 'value': '26 00 08 7017 4'}",{'large': 'https://randomuser.me/api/portraits...,MX
...,...,...,...,...,...,...,...,...,...,...,...,...
495,female,"{'title': 'Mrs', 'first': 'Veronica', 'last': ...","{'street': {'number': 2103, 'name': 'W 6th St'...",veronica.reynolds@example.com,{'uuid': 'fb703d48-6c70-4ab6-85c3-d12aba88b22d...,"{'date': '1953-01-02T15:40:18.249Z', 'age': 71}","{'date': '2014-11-15T12:54:03.308Z', 'age': 9}",06-5571-1891,0459-950-914,"{'name': 'TFN', 'value': '356298241'}",{'large': 'https://randomuser.me/api/portraits...,AU
496,female,"{'title': 'Miss', 'first': 'Zlata', 'last': 'S...","{'street': {'number': 7869, 'name': 'Vitalija ...",zlata.smiljanic@example.com,{'uuid': 'fb09cee9-cf3f-4dc3-a070-42c1755e053b...,"{'date': '1988-10-15T13:16:24.309Z', 'age': 35}","{'date': '2004-03-29T18:10:09.627Z', 'age': 19}",023-9032-766,068-1681-753,"{'name': 'SID', 'value': '881104176'}",{'large': 'https://randomuser.me/api/portraits...,RS
497,male,"{'title': 'Mr', 'first': 'Jonah', 'last': 'Flo...","{'street': {'number': 2835, 'name': 'Wiesenweg...",jonah.flohr@example.com,{'uuid': '8364fd56-815e-4f23-a027-13e551488157...,"{'date': '1956-11-25T13:53:53.986Z', 'age': 67}","{'date': '2020-11-29T13:10:24.318Z', 'age': 3}",0312-5503474,0178-1756033,"{'name': 'SVNR', 'value': '09 251156 F 452'}",{'large': 'https://randomuser.me/api/portraits...,DE
498,male,"{'title': 'Mr', 'first': 'Kuybida', 'last': 'T...","{'street': {'number': 1366, 'name': 'Soshenka'...",kuybida.tregub@example.com,{'uuid': '7dc2d222-85d0-4496-a191-8591c6a3fe6d...,"{'date': '1963-10-17T07:25:17.329Z', 'age': 60}","{'date': '2014-03-09T07:46:56.556Z', 'age': 9}",(098) J62-9948,(067) V88-4973,"{'name': '', 'value': None}",{'large': 'https://randomuser.me/api/portraits...,UA
499,female,"{'title': 'Mrs', 'first': 'Violeta', 'last': '...","{'street': {'number': 5500, 'name': 'Đorđa Mil...",violeta.damjanovic@example.com,{'uuid': 'e16283c5-5876-4521-a10e-3656c6806716...,"{'date': '1964-06-20T21:14:41.806Z', 'age': 59}","{'date': '2010-05-13T11:05:36.497Z', 'age': 13}",025-0341-419,060-6193-541,"{'name': 'SID', 'value': '290991110'}",{'large': 'https://randomuser.me/api/portraits...,RS

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   gender      500 non-null    object
 1   name        500 non-null    object
 2   location    500 non-null    object
 3   email       500 non-null    object
 4   login       500 non-null    object
 5   dob         500 non-null    object
 6   registered  500 non-null    object
 7   phone       500 non-null    object
 8   cell        500 non-null    object
 9   id          500 non-null    object
 10  picture     500 non-null    object
 11  nat         500 non-null    object
dtypes: object(12)
memory usage: 47.0+ KB

**Task-C**

In this part of the assignment, you will learn how to construct a dataset by scraping a
website online. Utilize BeautifulSoup or any other suitable scraping library to extract all the
details of Amazon products and compile a dataset.

In [19]:
from bs4 import BeautifulSoup
import requests
import pandas as pd


def scrape_amazon(search_keyword, num_pages):
    base_url = 'https://www.amazon.in/s'
    data = []

    headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}

    for page in range(1, num_pages + 1):
        params = {'k': search_keyword, 'page': page}

        webpage = requests.get(base_url, params=params, headers=headers)

        soup = BeautifulSoup(webpage.content, 'html.parser')

        brands = soup.find_all('div', class_='puis-card-container s-card-container s-overflow-hidden aok-relative puis-include-content-margin puis puis-v1x9xtdrqwkf2b2sy3gv3bhvhpn s-latency-cf-section puis-card-border')

        for brand in brands:
            name = brand.find('h2').text.strip()
            rating = brand.find('span', class_='a-icon-alt').text.strip() if brand.find('span', class_='a-icon-alt') else 'N/A'
            reviews = brand.find('span', class_='a-size-base s-underline-text').text.strip() if brand.find('span', class_='a-size-base s-underline-text') else 'N/A'
            price = brand.find('span', class_='a-price-whole').text.strip() if brand.find('span', class_='a-price-whole') else 'N/A'

            data.append({'brand_name': name, 'rating': rating, 'reviews': reviews, 'price': price})


    return pd.DataFrame(data)

# Example usage
search_keyword = 'mobiles'
num_pages_to_scrape = 30
df = scrape_amazon(search_keyword, num_pages_to_scrape)
df

,brand_name,rating,reviews,price
0,POCO,3.5 out of 5 stars,139,"5,999"
1,POCO,3.5 out of 5 stars,139,"5,999"
2,Samsung,3.7 out of 5 stars,23,"19,499"
3,Redmi,3.9 out of 5 stars,724,"12,499"
4,Redmi,3.9 out of 5 stars,724,"10,999"
...,...,...,...,...
91,"Samsung Galaxy A15 5G (Light Blue, 8GB, 128GB ...",3.7 out of 5 stars,23,"19,499"
92,"OnePlus Nord CE 2 5G (Bahamas Blue, 6GB RAM, 1...",4.2 out of 5 stars,"142,665","23,990"
93,"Samsung Galaxy A15 5G (Blue, 8GB, 256GB Storag...",3.7 out of 5 stars,23,"22,499"
94,"realme C51 (Mint Green, 4GB RAM, 128GB Storage...",3.9 out of 5 stars,92,"8,890"
95,"Realme narzo 50 (Speed Black, 4GB RAM+64GB Sto...",4.2 out of 5 stars,"19,100","9,999"

In [20]:
df.to_csv('output.csv', index=False)